body{
    margin:0;
    padding:0;
    font-family: "Microsoft JhengHei UI Light", 'Source Sans Pro', sans-serif;
    color: #636568;

}
.body{
    padding:6em;
}
a:link, a:active, a:visited{
    color:darkcyan;
    text-decoration: none;
}
a:hover{
    color:cornflowerblue;
}

p{
    margin: 0;
    font-size: 18pt;
}
.p1{
    margin:5px;
    font-size: 16pt;
}
.p2{
    margin:5px;
    font-size: 14pt;
}
li{
    font-size: 18pt;
    font-weight: bold;
}
ul{
    margin: 0;
}
.skills li{
    margin: 0;
    padding: 0;
    font-size: 14pt;
}
.fromDate{
    float: right;
}
.projectFromDate{
    font-size:20pt;
    float: right;
    font-weight: bold;
    margin: 10px;
}
.card-header{
    padding:0;
    margin:0;
}
h1{
    font-weight: bold;
    margin-top:0;
    text-align: center;
}
h2{
    margin: 3px;
    font-size: 20pt;
    text-align: center;
}
h3{
    margin-bottom: 10px;
    font-size: 20pt;
    font-weight: bold;
    text-decoration: underline;
}
h4{
    margin: 10px;
    font-size: 16pt;
    font-weight: bold;
}
h5{
    font-size: 20pt;
    margin:10px;
    font-weight: bold;
}
.used{
    margin-left: 20px;
    font-style: italic;
    color: slategrey;
}
.des{
    margin-left: 20px;
    color: slategrey;
}

.navg{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25pt;
    z-index: 9999;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #dcf1f4, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, #dcf1f4, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, #dcf1f4, rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(top, #dcf1f4, rgba(255, 255, 255, 0));
    transition: .5s;
}
.navg a:link, .navg a:active, .navg a:visited{
	text-transform: uppercase;
	padding:24px;
    white-space: nowrap;
	color: grey;
    font-weight: bold;
    text-decoration: none;
}
.navg a:hover{
	padding:24px;
    color: silver;
}
img{
    max-height: 400px;
    max-width: 600px;
}

.skillLeft{
    margin-bottom: 5em;
    float: left;
    width: 50%;
}
.skillRight{
    margin-bottom: 5em;
    float: left;
    width: 40%;
}

.footer{
    text-align: center;
    width: 100%;
}
